<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle
      Name="FluxVault"
      Manufacturer="Yagasoft"
      Version="$(var.ProductVersion)"
      UpgradeCode="E710C91A-FACD-49C7-8B74-89F86C7E8C51">
    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication LicenseUrl="" Theme="hyperlinkLicense" />
    </BootstrapperApplication>

    <Chain>
      <MsiPackage
          Id="FluxVaultMsi"
          SourceFile="$(var.ReleasePackageRoot)\FluxVault.Installer.msi"
          Compressed="yes" />
    </Chain>
  </Bundle>
</Wix>
