<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle
      Name="FluxVault"
      Manufacturer="Yagasoft"
      Version="1.0.0.0"
      UpgradeCode="E710C91A-FACD-49C7-8B74-89F86C7E8C51">
    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication LicenseUrl="" Theme="hyperlinkLicense" />
    </BootstrapperApplication>

    <Chain>
      <MsiPackage
          Id="FluxVaultMsi"
          SourceFile="$(var.ReleasePackageRoot)\FluxVault.Installer.msi"
          Compressed="yes" />
      <ExePackage
          Id="FluxVaultSparsePackage"
          DisplayName="Yagasoft.FluxVault sparse package"
          SourceFile="$(env.SystemRoot)\System32\WindowsPowerShell\v1.0\powershell.exe"
          InstallArguments="-NoProfile -ExecutionPolicy Bypass -Command &quot;Add-AppxPackage -Path '&quot;$(var.ReleasePackageRoot)\FluxVault.SparsePackage.msix&quot;' -ExternalLocation '&quot;$(var.PublishRoot)&quot;'&quot;"
          PerMachine="yes"
          Permanent="yes"
          Vital="no" />
    </Chain>
  </Bundle>
</Wix>
